<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="org.springframework.jdbc.core" level="debug"
		additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

	<appender name="LOGGLY"
		class="ch.qos.logback.ext.loggly.LogglyAppender">
		<endpointUrl>https://logs-01.loggly.com/inputs/9898a7b3-cb78-4d4a-89cb-3a329df0028a/tag/apisecurity
		</endpointUrl>
		<pattern>%m</pattern>
	</appender>

	<logger name="com.learning.springsecurity.filters.LogglyAuditLogFilter"
		level="info" additivity="false">
		<appender-ref ref="LOGGLY" />
	</logger>

</configuration>